#orphanage-create {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100vw;
}

#orphanage-create .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

#orphanage-create .wrapper p {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;

  color: #8FA7B3;
  padding: 40px 0 40px 0;
}

#orphanage-create .wrapper main{
  width: 703px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  border: 1px solid #D3E2E5;
  border-radius: 20px;

  background-color: #ffffff;
}

#orphanage-create .new-orphanage-form {
  padding: 64px 80px;
  width: 100%;
}

#orphanage-create .new-orphanage-form fieldset {
  border-width: 0;
}

#orphanage-create .new-orphanage-form fieldset legend {
  border-bottom: 1px solid #D3E2E5 ;
  padding-bottom: 24px;
  width: 100%;

  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 34px;

  color: #4D6F80;
}

#orphanage-create .new-orphanage-form fieldset .input-map {
  margin-top: 40px;

  height: 291px;
  width: 100%;

  border-radius: 20px;
  border: 1px solid #DDE3F0;
}

#orphanage-create .new-orphanage-form fieldset .input-block {
  padding-top: 54px;
  display: flex;
  flex-direction: column;
  
  width: 100%;
}

#orphanage-create .new-orphanage-form fieldset:last-of-type .input-block:last-of-type {
  padding-bottom: 41px;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
 }

#orphanage-create .new-orphanage-form fieldset .input-block label {
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  
  padding-bottom: 8px;
  
  color: #8FA7B3;
}

#orphanage-create .new-orphanage-form fieldset .input-block span {
  padding-left: 32px;

  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  color: #8FA7B3;
}

#orphanage-create .new-orphanage-form fieldset .input-block input {
  background: #F5F8FA;

  border: 1px solid #D3E2E5;
  box-sizing: border-box;
  border-radius: 20px;


  height: 64px;
}

#orphanage-create .new-orphanage-form fieldset .input-block .uploaded-image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
  padding-bottom: 80px;
}

#orphanage-create .new-orphanage-form fieldset .input-block .uploaded-image img {
  height: 96px;
  width: 100%;
  border: 1px solid #D3E2E5;
  border-radius: 20px;
  padding: 3px;
}

#orphanage-create .new-orphanage-form fieldset .input-block .uploaded-image .new-image {
  border: 1px dashed #96D2F0;
  border-radius: 20px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  height: 96px;
  width: 96px;

  cursor: pointer;

  background: #F5F8FA;
}

#orphanage-create .new-orphanage-form fieldset .submit {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 64px;
    
  border: 0;
  border-radius: 20px;

  cursor: pointer;

  color: #fff;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
  text-align: center;

  background: #37C77F;

  transition: background 0.3s ease;
}

#orphanage-create .new-orphanage-form fieldset .submit:hover {
  background: #3EE08F;
}
